/*Overwrite some of bootstraps css*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #66bb6a;
    width: 80%;
    margin: 0 auto;
}

.room-labels{
    text-decoration: none;
}

.top-nav {
    background: #e8f5e9;
    padding: 7px 5px 5px 7px;
    margin-top: 10px;
    /*border: 1px solid #4caf50;*/
    height: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

header {
    padding-top: 15px;
    width: auto;
    text-align: center;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    padding-bottom: 20px;
    border-color: #4caf50;
    background: #ffffff;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

header img {
    width: 40%;
}

.tab-content {
    background: #ffffff;
}

.tab-border {
    background: #ffffff;
    padding-top: 3px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ddd;
    padding-left: 10px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ddd;
    padding-right: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    padding-bottom: 10px;
    border-radius: 0 0 2px 2px;
}

.nav {
    padding-left: 10px;
}

.nav-tabs {
    width: auto;
    margin-top: 0px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    background: white;
}

    .nav-tabs li a {
        color: #757575;
        font-size: 14px;
        border-radius: 0px 0px 0 0;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0;
    }

    .nav-tabs li.active > a {
        color: black;
    }

.nav > li > a:hover {
    color: black;
}

.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #e8f5e9;
}

    .nav > li > a:hover {
        background-color: #c8e6c9;
    }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #000000;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #2e7d32;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #c8e6c9;
    border-color: transparent;
}

.dropdown-menu > li > a:hover {
    background-color: #e8f5e9;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #004400;
    text-decoration: none;
    background-color: #e8f5e9;
    outline: 0;
}

.center-pills {
    text-align: center;
    padding-top: 20px;
}

.nav-pills > li {
    float: none;
    display: inline-block;
    width: 125px;
}

.nav-pills li a {
    color: #757575;
}


svg {
    fill: white;
    background: white;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

#svg-floor {
    width: 70%;
    height: auto;
}

#svg-kitchen {
    width: 30%;
    height: auto;
    display: inline-block;
}

.cls-1 {
    fill: #fff;
    stroke: none;
}

    .cls-1:hover {
        fill: #b3e0b3;
    }

.cls-2 {
    fill: none;
    stroke: #000;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.cls-3, .cls-4 {
    fill: #fff;
}

.cls-3, .cls-4, .cls-5 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-3 {
    stroke-width: 1px;
}

    .cls-3:hover {
        fill: #b3e0b3;
    }

.cls-4, .cls-5 {
    stroke-width: 2px;
}

.cls-5 {
    fill: none;
    stroke-linecap: square;
}

.room-labels {
    font-family: sans-serif;
    font-size: 14px;
    fill: black;
    text-decoration: none;
}

    .room-labels:hover {
        background: #000;
    }

.floor-1-controls {
    padding-top: 15px;
    height: auto;
}

.room-controls img {
    width: 9%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 0;
    opacity: 0.88;

}

.room-controls img:hover {
    opacity: 1;
}

.checkbox label .toggle,
.checkbox-inline .toggle {
	margin-left: 15px;
	margin-right: 5px;
}


hr { 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    opacity: 0.2;
} 

.appliances-list{
    display:inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
    width: 30%;
}

.appliance-controls{
    /*display: inline-block;*/
    text-align: center;
    /*vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;*/
    /*border-style: solid;
    border-width: 1px;
    border-radius: 3px;*/
    /*width: 30%;*/
    padding: 5px 5px 5px 5px;
    margin-bottom: 7px;
   
}


.appliance-controls img {
    width:23%;
        }

label {
    font-size: 25px;
}

#oven-options{
    margin-top: 5px;
    display: none;
}

#oven-mode{
    width: 60%;
}

#timer-input,
#temp-input {
    width: 20%;
}

.checkbox-inline{
    padding: 0px;
}

a:link {
    text-decoration: none;
}
